/* READ EVERYTHING ABOUT BOLIER PLATE FROM NOTES. THEN COME HERE. */

* {
      /* margin: 0;  REMOVES THE SPACE BETWEEN ALL ELEMENTS. */
    padding: 0;
    box-sizing: border-box; 
}

/* BY DEFAULT HTML DOCUMENT IS AS TALL AS YOUR CONTENT INSIDE. USING THE BELOW TRICK, IT 
ENSURES THAT THE WEBPAGE TAKES UP THE ENTIRE HEIGHT AND WIDTH OF THE BROWSER. i.e. 
IF WE ONLY HAVE ONE SENTENCE OF TEXT, THE HEIGHT OF OUR WEBSITE MIGHT ONLY BE 20PX.
THE BELOW CODE CHANGES THIS.

THIS MAKES THE WEBSITE TO COVER WHOLE BROWSER WINDOW (FROM LEFT TO RIGHT AND TOP TO BOTTOM)
EVEN IF THE WEBPAGE IS MOSTLY EMPTY. */

html,body { 
    width: 100%;
    height: 100%;
}

/* EVERYTHING ABOVE MAKES UP THE BOILER-PLATE CODE OF CSS. AND MUST BE WRITTEN BEFORE 
STARTING A CSS FILE. */


h1 {

    /* THE HEADING IS SMALL BUT IT COVERS A LARGE AREA IN THE WEBPAGE. */

    margin: 0;  /* HERE THERE IS STILL SOME SPACE ON TOP AND LEFT OF HEADING. BECAUSE IT IS 
    THE MARGIN OF THE BODY OF THE WEBPAGE. THOUGH MARGIN FOR HEADING IS 0, MARGIN FOR 
    BODY IS STILL 8PX(DEFAULT BY BROWSER). */
    
    text-align: center;
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;
}

p { 
    color:brown;
    font-size: x-large;
    background-color: bisque;

}