* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

body {
    background-color:rgb(73, 72, 72);
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    background-color: #cdcdcd;
    width: 30%;
    height: 80%;
    border-radius: 10%;

    /* TO ADD SHADOW EFFECT TO AN ELEMENT (LIKE A BOX, CARD, OR A BUTTON), WE USE THE
    FOLLOWING TAG :
    
    SYNTAX FOR THE VALUES TO ENTERED IS : 
    shadow-box : horizontal offset vertical off. blur radius shadow colour */

    /* BELOW WHAT WE DID IS : 5PX(HORIZONTAL) 5PX(VERTICAL) 10PX(BLUR. TO MAKE SHADOW 
    LOOK SOFT) AMD RGBA(0, 0, 0, 0.5) IS THE COLOUR BLACK WITH 50% TRANSPARENT */

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
    display: flex;
    justify-content: center;  
}

main { 
    
    height: 100%;
    width: 100%;
   
}

p {
    background-color: #ececec;
    text-align: center;
    border-radius: 10%;
    font-size: x-large;
    word-spacing: 0cap;
    font-weight:500;
    line-height: 1.5;

}

.spaced-link {
    margin-right: 10px;
}

.spaced-link-02 {
    margin-right: 10px;
}



